
#app-navigation li {
    list-style-type: none;
}

.nav_button{
    margin: auto;
}

.table-overflow {
    overflow-x:scroll;
}

.table-button {
    width: 60px;
}
.screenshots {    
    width: 700px;    
    border: 2px solid black;
}
.how-to-steps {
    font-size: 36px;
    color: #666666;
}