/* MAP STYLES */
#app-content-wrapper #app-content {
    height: 100%;
}

#inner-app-content {
    padding: 0;
    padding-top: 10px;
    height: 100%
}

#app-navigation li {
    list-style-type: none;
}

.map {
    height: 100%;
}

.map:-moz-full-screen {
    width: 100%;
}

.map:-webkit-full-screen {
    width: 100%;
}

.map:-ms-fullscreen {
    width: 100%;
}

.map:fullscreen {
    width: 100%;
}

.sfpt-chart {
    width:100%;
}

.no-padding {
    padding-left: 10px;
}

.units-toggle {
    top: 5px;
    right: 40px;
}

.sfpt-select {
    width: 100%;
}

.select-label{
    padding-left: 10px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.collapse-control a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #34495E;
}
.warning-val {
	font: 400 12px Arial;
	color: #888;
	margin: 15px 0;
}

.map-view-legend {
  bottom: 30px;
  right: 0;
  width: 170px;
  max-height: 90%;
  overflow-y: auto;
  margin: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px #ddd solid;
}
.map-view-legend:hover {
  background: rgba(255, 255, 255, 0.9);
}