/* MAP STYLES */
#app-content-wrapper #app-content {
    padding: 120px 5px 0 5px;
    height: 100%;
}
#inner-app-content {
    height: 100%
}

#app-navigation li {
    list-style-type: none;
}

#map {
    height: 100%;
}

.sfpt-chart {
    width:100%;
}

.no-padding {
    padding-left: 10px;
}

.units-toggle {
    top: 5px;
    right: 40px;
}

.sfpt-select {
    width: 100%;
}

.select-label{
    padding-left: 10px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.collapse-control a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #34495E;
}